.aside-item {
    margin-bottom: 20px;
    h2 {
        height: 40px;
        width: 100%;
        font-size: 16px !important;
        line-height: 42px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        padding: 0px;
        position: relative;
    }
}
.field-search {
    margin-bottom: 20px;
    position: relative;
}
.btn-search{
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    width: 38px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    background: #008744;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.list-item {
    padding: 0;
    
    li {
     a {
        font-size: 14px;
        font-weight: 400;
        color: #444;
        font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
        padding: 5px 20px 5px 0;
        display: block;
        position: relative;
        border-radius: 0;
    }
    }

}