footer {
    margin-top: 20px;
    border-top: 1px solid rgba(0,0,0,.09);
}
.title-menu {
    margin-top: 20px;
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.list-menu {
    padding: 0;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    display: block;
    color: rgba(0,0,0,.54);
    list-style-type: none;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}
.list-menu > li {
    font-size: .75rem;
    margin-bottom: .75rem;
    text-transform: capitalize

}
.list-menu > li > a {
    align-content: center;
    text-decoration: none;
    font-size: .75rem;
    color: rgba(0,0,0,.54);
}
