header {
    position: relative;
    z-index: 1000;
    float: left;
    width: 100%;
    .logo {
        float: left;
        width: 185px;
        height: 40px;
        margin-top: 6px
    }
    .search {

    }
    .boxsearch {
        
    }
    .link {
        float: left;
    }
}
.flex-md-row {
    flex-direction: row!important;
}
.wrap_main {
    display: block;
    float: left;
    width: 100%;
    height: 55px;
    background: #393a44;
}
.title_menu{ 
    padding: 0px 20px;
    position: relative;
    height: 55px;
    line-height: 55px;
    background: #ffba00;
    color: #fff;
    .title_ {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: none;
        line-height: 55px;
        display: block;
        padding-left: 30px;
    }
    .nav_button {
        position: absolute;
        left: 20px;
        top: 0;
    }
}
.navbar-nav a {
    display: block;
    text-align: left;
    padding: 0px 17px;
    font-size: 15px;
    font-weight: 500;
    height: 55px;
    line-height: 55px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    color: #fff;
}