.product-price {
    font-family: 'Arial',sans-serif;
}
.product-info h3 {
        font-size: 14px;
    
}
.checked {
    color:#f9b40e;
}

.rating-result {
    color: #777;
    text-decoration: none;
    position: relative;
    top: -1px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.price strong{
    display: inline-block; 
    vertical-align: middle; 
    overflow: hidden;
    font-size: 15px;
    color: #e10c00;
    line-height: 15px;
}
.price span {
    color: #222;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: line-through;
    display: inline-block; 
    vertical-align: middle; 
}

.discount{
    display: inline-block;
    position: absolute;
    top: 187px;
    background: #ee170b;
    padding: 0 5px;
    height: 18px;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
}   