.section {
    
    display: block;
    width: 100%;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 40px;
}
.section ul {
    margin: 0;
    font-size: 14px;
    padding: 15px 0;
    border-radius: 0;
    background-color: #fff
}
.section ul li {
    display: inline-block;
}
.section ul li .fa {
    color: #323c3f;
    margin: 0px 7px;
    font-weight: 400;
}